@media (min-width:1024px) {

    body {
        background-position: left;
        background-size: contain;
        
    }

    .page--container {
        margin: 40px 0 0 40px;
        height: 100vh;
    }

    header {
    height: 20vh;
    }

    header a img {

        width: 15vw;
    }
    
    main {
        height: 80vh;
        
        display:grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
     


}