/*
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Violet: hsl(257, 40%, 49%)
- Soft Magenta: hsl(300, 69%, 71%)

## Typography

### Headings

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 600

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400
*/

:root {
    --violet: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);
    --white: hsl(180, 12%, 97%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    background-color: var(--violet);
    background-image: url('./images/bg-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.page--container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
}

header a img{
    width: 35vw;
    
margin-left: 30px;
}


.image--container {
    width: 95%;
    margin: 20px 0 20px 30px;
    
}

.image--container img {
    width: 87%;
    margin 0 auto;
}

.title--container {
    text-align: center;
    margin: 10px 20px 20px 10px;
    padding-top: 20px;
   
}
.title--container h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--white);
    font-size: 1.6rem;
    
}

.copy--container {
   
    text-align: center;
    margin: 0 30px 0 30px;
    
}

.copy--container p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: var(--white);
    letter-spacing: 0.02rem;
    line-height: 1.5rem;
}

.button--container {
    display: flex;
    height: 40px;
    width: 220px;
    background-color: var(--white);
    justify-items: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 30px auto;
    box-shadow: 1px 2px 4px rgb(41, 41, 41);
    
}

.button--container a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--violet);
    justify-content: center;
    justify-items: center;
    align-items: center;

}

footer {
    width: 100vW;
    height: 20vh;
    display: flex;

}


