/*
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Violet: hsl(257, 40%, 49%)
- Soft Magenta: hsl(300, 69%, 71%)

## Typography

### Headings

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 600

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400
*/

:root {
    --violet: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);
    --white: hsl(180, 12%, 97%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--violet);
    background-image: url('./images/bg-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.page--container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
}

header a img{
    width: 35vw;
    margin-left: 30px;
}

.image--container {
    width: 95%;
    margin: 25px;
}

.image--container img {
    width: 90%;
}

.title--container {
    text-align: center;
    margin: 2.2rem;
    padding-top: 20px;
    
}

.title--container h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--white);
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
}